
form {
    margin: 40px 0;
}

form-center legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form-center input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.form-center .input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: var(--cor-ciano);
    color: var(--cor-branco);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: var(--cor-ciano);
    transform: scale(1.2);
}

.checkbox {
    margin: 20px 0;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: var(--cor-escuro);
    color: var(--cor-branco);
    font-weight: bold;
}

td, th {
    border: 1px solid var(--cor-segundaria);
    padding: 8px 15px;
}
