.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid var(--cor-segundaria);
    border-radius: 10px;
}

.imagem-produto{
    width: 250px;
}
.produtos li:hover {
    border-color: var(--cor-ciano);
}

.produtos li:active {
    border-color: var(--cor-azulclaro);
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}